html {
  background: #34343c;
  color: #f0f0f0;
  /*font-weight: 600;*/
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  line-height: 1.25;
}
body {
  margin: 0 0 0 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.btn {
  display: inline-block;
  display: inline;
  padding: 6px 17px !important;
  margin-bottom: 0;
  margin-left: 0.3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer;
  background-color: #f5f5f5;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

  zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
  transition: 0.1s;
}
.btn:hover {
  background-color: #6e6e6e !important;
  color: white;
  transition: 0.1s;
}
.btnClose {
  display: inline-block;
  display: inline;
  padding: 6px 17px;
  margin-bottom: 0;
  margin-left: 0.3em;
  font-size: 14px;
  line-height: 20px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.1s;
}
.btnClose:hover {
  transition: 0.1s;
  background-color: #6e6e6e !important;
  color: white;
}
.Display {
  height: 100vh;
}
#scoreboard {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  line-height: 1;
}
/* #scoreboard .header */

#scoreboard .header {
  width: 100%;
  background: #222229;
  color: #c1c0c2;
  display: flex;
  flex-flow: row;
}

#scoreboard .header > div {
  /* position: relative;
  font-size: 1.25em;
  box-sizing: border-box;
  padding: 0.75em 2.5em;
  height: 2.5em;
  white-space: nowrap;
  overflow: hidden; */
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

#scoreboard .header .runNumber {
  padding-right: 1em;
  padding-left: 1em;
}

#scoreboard .header .flag {
  width: 2.5em;
  margin: -0.125em 0.6em 0 0;
  height: 1.25em;
  float: left;
}

#scoreboard .header .flag-gray {
  background: gray;
}
#scoreboard .header .flag-green {
  background: green;
}
#scoreboard .header .flag-yellow {
  background: yellow;
}
#scoreboard .header .flag-red {
  background: red;
}
#scoreboard .header .flag-finish {
  background-image: linear-gradient(to left, rgba(192, 192, 192, 0), rgba(192, 192, 192, 0)),
    linear-gradient(to left, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: calc(10em / 16) calc(10em / 16);
}

#scoreboard .header .runNumber {
  text-align: left;
}

#scoreboard .header .runTime {
  margin-left: auto;
  text-align: center;
  margin-right: 2em;
}

#scoreboard .header .runTime + .clock {
  margin: 0;
}

#scoreboard .header .clock {
  margin-left: auto;
  color: #c0c0c0;
  text-align: center;
  padding-right: 1.5em;
}

#scoreboard .competitors .competitors-header {
  height: 1em;
  padding: 0.5em 0;
  margin: 0;
  text-transform: uppercase;
  color: #8d8da0;
  background: #3c3f4e;
  box-sizing: content-box;
}

#scoreboard .competitors .competitors-header span {
  font-size: 0.75em;
}

#scoreboard .competitors .competitors-body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-bottom: 2em;
}

#scoreboard .competitors .competitors-header,
#scoreboard .competitors .competitors-body .row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}
#scoreboard .row:nth-child(even) {
  background-color: #3b3a42;
}

#scoreboard .row.rowBeat {
  background-color: #5e5d6e !important;
}
#scoreboard .competitors .competitors-body .row {
  /*border-bottom: 1px solid transparent;*/
  position: relative;
}

#scoreboard .competitors .competitors-body .position,
#scoreboard .competitors .competitors-body .laps,
#scoreboard .competitors .competitors-body .last-lap,
#scoreboard .competitors .competitors-body .best-lap,
#scoreboard .competitors .competitors-body .diff-best-lap,
#scoreboard .competitors .competitors-body .diff-time,
#scoreboard .competitors .competitors-body .average {
  padding: 0.65em 0;
}
#scoreboard .diff-bestlap {
  justify-content: flex-end !important;
  text-align: right;
  width: 4em;
}
#scoreboard .lastlap {
  justify-content: flex-end;
}

#scoreboard .competitors .competitors-body .name {
  white-space: nowrap;
  padding: 0.5em 0;
}
#scoreboard .name {
  white-space: nowrap;
}
#scoreboard .competitors .competitors-body .row > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#scoreboard .competitors .competitors-body .row .competitor-mark {
  height: 0.6em;
  width: 0.6em;
  padding: 0;
  background: transparent;
  border: 0.1em solid #e0e0e0;
  opacity: 0.75;
  position: absolute;
  bottom: -0.3em;
  left: 120%;
  margin-left: -0.7em;
  content: "";
  z-index: 1;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
}

#scoreboard .competitors .competitors-body .row .competitorMark1 {
  width: 20px;
  padding: 0;
  background: #3755f1;
  opacity: 0.35;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  content: "";
  z-index: 1;
  display: block;
  box-sizing: border-box;
}

@keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

#scoreboard .competitors .position {
  width: 1.5em;
  text-align: center;
  justify-content: center;
}

#scoreboard .competitors .competitors-header .number {
  padding: 0 0.25em;
}

#scoreboard .competitors .competitors-body .number {
  padding: 0.15em 0.25em;
  background: #d6a838;
  color: #080808;
  border-radius: calc(1em / 16);
  width: 1.5em;
  height: 1em;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  margin-right: 0.5em; /* calc(3em - 100% / 9); */
  position: relative;
  border-radius: calc(1em / 16);
}

#scoreboard .competitors .laps {
  width: 3.3em;
  text-align: right;
  justify-content: center;
}

#scoreboard .lastlap.circleLag,
#scoreboard .bestlap.circleLag {
  color: yellow;
}

#scoreboard .competitors .diff-time {
  width: 5em;
  white-space: nowrap;
}

#scoreboard .competitors .diff-best-lap {
  width: 4em;
  text-align: right;
  white-space: nowrap;
}

#scoreboard .competitors .lastlap,
#scoreboard .competitors .average,
#scoreboard .competitors .bestlap {
  width: 4.8em;
  text-align: end;
  align-items: flex-end;
}

#scoreboard .lastlap.runBest,
#scoreboard .bestlap.runBest {
  color: #ff00ff !important;
}

#scoreboard .lastlap.personalBest,
#scoreboard .bestlap.personalBest {
  color: #00ff00 !important;
}

#scoreboard .competitors .competitors-body .passing {
  animation: passing 0.3s ease-out;
  -webkit-animation: passing 0.3s ease-out;
}

@keyframes passing {
  38% {
    background: #615f71;
  }
}

@-webkit-keyframes passing {
  38% {
    background: #615f71;
  }
}
/* Menu */
#scoreboard .scoreboard-menu {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(71, 71, 71, 0.5);
}
#scoreboard .scoreboard-menu .menu-element {
  width: 16em;
}
#scoreboard .scoreboard-menu .menu-element a {
  display: block;
  background-color: #131313;
  padding: 1.5em 2em;
  text-align: center;
  font-size: inherit;

  text-decoration: none;
  color: #f0f0f0;
}
#scoreboard .scoreboard-menu .menu-element a:hover {
  background-color: #292929;
}
#scoreboard .scoreboard-menu .menu-element:last-of-type a:hover {
  background-color: #3a2222;
}

/* pop-up */
.pop-up {
  position: absolute;
  right: 3.3em;
  bottom: 2.5em;
  color: #7e7e7e;
}
/* hide class */
.hide {
  display: none !important;
}
/* Mobail */
.laps-mobail {
  display: none;
  color: #717073;
  margin-top: 0.5em;
  margin-left: 3.8em;
  font-size: 0.8em;
  color: #717073;
  margin-bottom: 0.25em;
}
.bestlap {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  top: 0.05em;
}
.bestlap {
  align-content: flex-end;
}
.diff-bestlap-mobail {
  display: none;
  padding-top: 0.8em;
  font-size: 0.7em;
  color: #717073;
  text-align: right;
  width: 4.5em;
}
@media (max-width: 1920px) {
  /* #scoreboard .header > div {
    /* font-size: 1em; }*/
}
@media (max-width: 1026px) {
  #root {
    font-size: 29px;
  }
  .bestlap {
    align-items: flex-end !important;
  }
}
@media (max-width: 550px) {
  html,
  #root {
    font-size: 16px !important;
    zoom: 1 !important;
  }
}
@media (max-width: 768px) {
  html,
  #root {
    font: 16px !important;
  }
  .laps,
  .diff-bestlap,
  #scoreboard .competitors .competitors-body .row > .laps,
  #scoreboard .competitors .competitors-body .row > .diff-bestlap,
  .clock {
    display: none;
  }
  .diff-bestlap-mobail,
  .laps-mobail {
    display: block;
  }
  #scoreboard .competitors .competitors-header,
  #scoreboard .competitors .competitors-body .row {
    justify-content: unset;
  }
  #scoreboard .competitors .position {
    margin: 0 1em;
  }
  #scoreboard .competitors .name {
    white-space: nowrap;
    margin-right: auto;
  }
  .bestlap {
    margin-right: 1em;
    margin-left: 1em;
  }

  #scoreboard .header > div {
    padding: 0.65em 0.4em;
  }
  /* Запрещаю вход в меню из мобильной верстки */
  #scoreboard .scoreboard-menu {
    display: none;
  }
  #scoreboard .header .runTime {
    margin-right: 0.5em;
  }
}
/* Выбор дисплея */

.ChooseDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 30px;
  height: 100vh;
}
.display-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.display-item-title {
  margin-bottom: 15px;
}
.btn-choose-display {
  width: 200px;
  margin-bottom: 10px;
}
