body {
  color: #fff;
  background-color: #f6f9fa;

  font-family: "PT Sans", sans-serif;
}
button {
  background-color: inherit;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 25%;
  background-color: #0c202c;
  border: 2px solid #0c202c;
  color: #fff;
  font-size: 13px;
}
td {
  border: 2px solid #d0d0d0;

  text-align: center;
  padding: 3px;
  font-weight: 600;
  font-size: 12px;
}
td:first-of-type {
  background-color: #0c202c;
  color: #fff;
  border: 2px solid #d0d0d0;
  border-right: 2px solid #fff;
  border-left: 2px solid #0c202c;
}

/* Навигация в шапке */

.header-navigation-link {
  color: #627377;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}
.header-navigation-link:hover {
  color: #13c2c2;
}
.header-navigation {
  margin: 0 20px;
}
.page-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.carusel {
  width: 85vmin;
}
.circle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #13c2c2;
  left: -15px;
  top: 5px;
}
/* мутации ANTD */
.ant-spin-dot-item {
  background-color: #13c2c2;
}
.ant-carousel .slick-dots li {
  width: 23px;
}
.ant-carousel .slick-dots li.slick-active {
  width: 23px;
}
.ant-btn-primary {
  border-color: #0c202c;
  background: #0c202c !important;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #13c2c2;
  border-color: #13c2c2;
}
.ant-carousel .slick-dots li button {
  border-radius: 100%;
  width: 56%;
  height: 11px;
  background-color: #13c2c2;
  border: 1px solid #13c2c2;
  opacity: 1;
}
.ant-modal-title {
  font-size: 17px;
}
.ant-modal-body {
  font-size: 15px;
}
.ant-slider-handle.ant-tooltip-open {
  border-color: #13c2c2 !important;
}
.ant-slider:hover .ant-slider-track {
  background-color: #13c2c2;
}
.ant-slider-track {
  background-color: #13c2c2;
}
.ant-slider-handle {
  border-color: #13c2c2;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  width: 70px;
  height: 70px;
  top: 0;
  z-index: 2;
}
.ant-carousel .slick-next {
  right: -18px;
}
.ant-carousel .slick-prev {
  left: -18px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #13c2c2;
  border-color: #13c2c2;
}
.ant-input:hover {
  border-color: #13c2c2;
}
.ant-form {
  width: 100%;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #13c2c2;
}

.page_header_bg {
  background: no-repeat url(../src/img/mobailBG.png);
  background-size: cover;
  padding-bottom: 20px;
}
.content_wrapper {
  min-height: 550px;
  max-width: 1200px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_bold {
  font-size: 45px;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
}
.btn {
  color: #13c2c2;
  padding: 5px 28px;
  border: 2px solid #13c2c2;
  border-radius: 80px;
  font-size: 25px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  transition: 0.4s;
}
.btn-header:hover {
  background-color: #13c2c2 !important;
}
.btn:hover {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  transition: 0.4s;
}
.btn-black:hover {
  background-color: transparent !important;
  border-color: black !important;
  color: #0c202c !important;
}
.blog-btn {
  color: #000;
  margin-top: 2px !important;
  font-size: 18px;
}
.blog-btn:hover {
  color: #fff;
  background-color: #000;
}
.link {
  color: #13c2c2;
  text-decoration: underline;
  transition: 0.3s;
}

/* Шапка */
.header {
  background: transparent;
  z-index: 1;
  height: 72px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo_container {
  display: flex;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.header img {
  margin-right: 15px;
  z-index: 1;
}

.nav_item {
  color: #fff;
  font-family: inherit;
  margin-right: 34px;
  font-size: 16px;
  font-weight: 400;
}

.nav_item {
  font-size: 16px;
  font-weight: 400;
}
.nav-item-active {
  background-color: #cfd8dc !important;
}
/* менюшка */
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 50;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #13c2c2;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  text-align: center;
  background-color: #0c202c;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 49;
}

.menu__item {
  display: block;
  padding: 14px 24px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.menu__item:hover {
  color: #000;
}
.menu__item__registration {
  background-color: #13c2c2;
  color: #0c202c;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.menu__item-active {
  background-color: #cfd8dc;
  color: #000;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}

.homePage_decaration {
  opacity: 50%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.home_page_title_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Десктоп менюшка */
.desktop-nav {
  display: none;
}
.desktop-menu__item-active {
  color: #13c2c2 !important;
}
.desktop-nav-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.desktop-menu__item {
  color: #fff;
  transition: 0.2s;
}

.desktop-menu__item:hover {
  color: #13c2c2 !important;
  transition: 0.2s;
}

.desktop-menu__item__registration {
  color: #000 !important;
  padding: 4px 28px;
  background-color: #13c2c2;
  border-radius: 80px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  transition: 0.4s;
  border: 2px solid #13c2c2;
}

.desktop-menu__item__registration:hover {
  color: #fff;
  transition: 0.4s;
  background-color: transparent;
}

.desktop-menu__item {
  margin-right: 34px;
}
.desktop-menu__item:last-of-type {
  margin-right: 0px;
}
/* Информация по доходности */
.earning_information {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.earning_information_item {
  background: no-repeat url(../src/img/earningInfoBg.svg);
  margin-bottom: 15px;
  padding: 46px 39px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  margin-bottom: 30px;
  width: 280px;
  height: 180px;
}

.earning_information_sum {
  font-size: 30px;
  color: #13c2c2;
  font-weight: 400;
}
.earning_information_sum::after {
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #13c2c2;
  margin-top: 4px;
}
.earning_information_title {
  font-weight: 700;
  font-size: 17px;
  margin-top: 15px;
}
/* О компании  */
.about_company {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about_company_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about_company_text {
  color: #000;
  font-size: 18px;
}
.calculator_item_title {
  align-self: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.calculator_item-text {
  white-space: nowrap;
  font-size: 17px;
  display: flex;

  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.calculator-item-price {
  right: 0;
  font-size: 23px;
  font-weight: bold;
  margin-left: 9px;
}
.calculator-сontribution {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.dollar {
  top: -3px;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  right: -3px;
}
/* Калькулятор */

.calculator {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.calculator_item {
  color: #000;
  padding: 71px 20px 40px;
  width: 280px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #13c2c2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  height: 450px;
  transition: 0.4s;
}
.calculator_item:last-of-type {
  margin-right: 0;
}
.calculator-item-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.calculator-input-text {
  font-size: 18px;
}
/* Как это работает */
.how_it_work {
  color: #000;
  margin-bottom: 70px;
  position: relative;
  overflow: visible;
}
.how_it_work_item {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.how_it_work_typography {
  padding: 0 25px;
}
.how_it_work_title {
  font-size: 20px !important;
}
.how_it_work_dec_line {
  position: absolute;
  top: 80px;
}
.how_it_work_item:last-of-type {
  margin-bottom: 0;
}
.secttion_title {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}
.how_it_work_img_container {
  margin-bottom: 32px;

  position: relative;
}
.how_it_work_num_img {
  position: absolute;
  left: -45px;
  bottom: -50px;
  width: 100px;
  height: 120px;
}
.how_it_work_img {
  width: 280px;
  height: 169px;
  border-radius: 11px;
  border: 1px solid #13c2c2;
}
/* Тарифы */
.tairffs {
  color: #000;
}
.tairffs_container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.tairffs_item {
  color: #000;
  padding: 71px 20px 40px;
  width: 280px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #13c2c2;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  height: 450px;
  transition: 0.4s;
}
.tairffs_item_title {
  align-self: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.tairffs_item_price {
  align-self: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
}
.tairffs_about {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
}
.tairffs_item_arrow {
  margin-right: 12px;
}
.tairffs_about_item {
  display: flex;
  justify-content: space-between;
}
/* Подвал */
.footer {
  background-color: #0f2633;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 69px;
}
.footer_wrapper {
  width: 100%;
  display: flex;
  padding: 0 20px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}
.footer_logo_container {
  opacity: 0.5;
  display: flex;
  align-items: center;
  margin-bottom: 91px;
  font-weight: bold;
}
.footer_logo_text {
  margin-left: 15px;
  font-size: 18px;
}
.footer_social {
  align-self: flex-start;
  font-size: 16px;
}
.footer_social_item {
  margin-bottom: 12px;
}
.footer_social_item:hover {
  text-decoration: underline;
}
.footer_telegram_logo {
  margin-right: 12px;
}
.footer_nav {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 91px;
}
.footer_nav_item {
  margin-bottom: 20px;
  font-weight: 400;
  color: #fff;
}
.footer_nav_item:hover {
  color: #13c2c2;
}
.footer_nav_group {
  display: flex;
  flex-direction: column;
}
.footer_copyright {
  color: #7d888e;
  font-size: 16px;
}

/* Риски */

.risks_item {
  padding: 28px 20px 40px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #13c2c2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  align-items: center;
}
.risks_title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
}
.risk_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Истории успеха :) */
.examples {
  margin-bottom: 30px;
}
.examples_item {
  color: black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.example_content {
  height: 94%;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  display: flex;
  padding-right: 20px;

  flex-direction: column;
}
.example_title {
  padding: 0px 26px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 20px;
}
.example_item {
  position: relative;

  line-height: 1.2;
  margin-left: 30px;
  font-size: 16px;
  margin-bottom: 18px;
}
.example_content:last-of-type {
  margin-bottom: 0;
}
/* Лид форма */
.leed-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(19, 194, 194);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 40px;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
}
.leed {
  color: #000;
  margin-bottom: 40px;
}
.leed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}
.leed-text {
  margin-bottom: 40px;
}

/* Страница 404 */
.not_found {
  background-color: #0c202c;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.not_found_container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.not_found-content {
  display: flex;
  flex-direction: column;
}
.not_found-404 {
  font-size: 120px;
  color: #13c2c2;
  display: flex;
  align-items: center;
}
.not_found-title {
  font-size: 25px;
  color: #13c2c2;
}
.not_found-text {
  font-size: 18px;
}

/* Страница блога */

.news-card {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e9ea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-card-content {
  max-width: 350px;
}
.news-card-img {
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 280px;
}
.news-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.serch-posts {
  padding: 10px 5px;
  border: 1px solid #e7e9ea;
  border-radius: 8px;
  width: 90%;
  color: #000;
  margin-bottom: 30px;
}
.serch-post-container {
  width: 90vw;
  margin-top: 70px;
}
.news-card-title::after {
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #13c2c2;
  margin-top: 10px;
}
.news-card-date {
  color: #627377;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  margin-top: 20px;
}
.news-card-text {
  color: #627377;
  font-size: 16px;
  font-weight: 400;
}
.blog-categories-title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.blog-categories {
  margin-bottom: 70px;
}
.blog-categories-item {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.blog-pagination {
  display: flex;
  justify-content: center;
}

/* Страница отдельной новости */

.news-page-content {
  padding: 60px 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-page-img {
  height: 50vw;
  width: 90vw;
  order: 0;
  float: right;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid #13c2c2;
}
.news-page-text {
  font-size: 20px;
}

/* Страница FAQ */

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.faq-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.faq-text {
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}
.faq-title {
  font-size: 19px;
  margin-bottom: 15px;
}
.faq-text:hover {
  color: #13c2c2;
}
/* страница профиля */
.profile-investment-dashboard {
  color: #000;
  padding: 10px 40px;
  width: 280px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #13c2c2;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 10px;
  height: 450px;
  transition: 0.4s;
  justify-content: space-around;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-investment-dashboard-item {
  border-bottom: 1px solid #d0d0d0;
}
.btn-profile {
  font-size: 18px;
  width: 288px;
  background-color: #13c2c2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  padding: 0 0 0 0;
}

/* последнии пополнения */
.last-transactions {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-transaction-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 15px;
}
.transaction-time-title-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.transaction-title {
  font-size: 18px;
}
.transaction-sum {
  font-size: 18px;
  font-weight: bold;
}
.transaction-text {
  display: none;
}
.transaction-header {
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  padding-right: 5px;
  padding-bottom: 20px;
  color: #627377;
  display: none;
}
/* Страница статистики */

.statistics_page_profitability {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.statistics_page_trap {
  font-size: 17px;
}
@media screen and (min-width: 360px) {
  .how_it_work {
    overflow: hidden;
  }
}
@media screen and (min-width: 570px) {
  .tairffs_item {
    margin: 30px;
  }
  .calculator_item {
    margin-right: 60px;
  }
  .earning_information_item {
    margin-right: 20px;
  }
  .earning_information_item:last-of-type {
    margin-right: 0;
  }
  .page_header_bg {
    background: no-repeat center url(../src/img/desktopBG.png);
    background-size: cover;
  }
  .leed-form {
    width: 500px;
    min-width: 460px;
  }
  .leed-text {
    font-size: 18px;
  }
  .news-card-img {
    margin-right: 15px;
  }
  th {
    font-size: 17px;
  }
  td {
    font-size: 15px;
    padding: 8px;
  }
}
@media screen and (min-width: 938px) {
  .home_page_title_btn {
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 150px;
  }
  /* Скрываем наше ХАМБУРГЕР меню */
  .hamburger-menu {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
  .page_header_bg {
    background-size: cover;
    height: 576px;
  }
  /* Как это работает */
  .how_it_work {
    width: 100%;
  }
  .how_it_work_item {
    flex-direction: row;
    justify-content: space-between;
  }
  .how_it_work_typography {
    width: 410px;
    font-size: 18px;
  }
  .how_it_work_dec_line {
    left: 50%;
  }
  .how_it_work_title {
    font-size: 22px !important;
  }
  .how_it_work_img {
    width: 441px;
    height: 266px;
  }
  .how_it_work_item:nth-child(even) .how_it_work_typography {
    order: 1;
  }
  .how_it_work_item:nth-child(even) .how_it_work_img_container {
    order: 2;
  }
  .how_it_work_item:nth-child(even) .how_it_work_typography {
    text-align: right;
  }
  .how_it_work_num_img {
    width: 206px;
    height: 210px;
    left: -80px;
  }
  .how_it_work_item:nth-child(odd) .how_it_work_img_container .how_it_work_num_img {
    left: 318px;
  }
  /* Подвал */
  .footer_copyright {
    display: none;
  }
  .footer_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer_logo_container {
    margin: 0 0 0 0;
    align-items: center;
  }
  .footer_social {
    align-items: center;
  }
  .footer_nav {
    width: 270px;
    margin: 0 0 0 0;
  }
  /* Тарифы */

  .tairffs_item:hover {
    border-color: #000;
    transition: 0.4s;
  }

  .tairffs_item:last-of-type {
    margin: 30px;
  }
  /* Риски */
  .risks {
    margin-bottom: 50px;
  }
  /* лид форма */
  .leed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #000;
  }
  .leed-text {
    width: 46%;
    margin-right: 20px;
  }
  .leed-form {
    width: 52%;
  }
  /* Страница блога */

  .blog-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .serch-post-container {
    width: 270px;
    margin: 0 0 0 0;
  }
  .blog-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* новостная карта */
  .news-card-title {
    font-size: 22px;
  }
  .news-card-text {
    font-size: 18px;
  }
  .news-card-date {
    font-size: 14px;
  }
  .news-card-img {
    height: 230px;
    max-width: 350px;
    margin-right: 20px;
  }
  .news-card-content {
    max-width: 300px;
  }
  .calculator_item {
    margin-right: 100px;
  }
  /* Страница новости */
  .news-page-content {
    margin-bottom: 50px;
    display: block;
    flex-direction: none;
    align-items: none;
  }
  .news-page-img {
    width: 550px;
    height: 350px;
    order: 1;
  }
  /* профиль */
  .chart-container {
    flex-direction: row;
  }
  .carusel-chart {
    max-width: 500px;
    margin-right: 100px;
  }
  .transaction-text {
    display: block;

    margin-right: auto;
    margin-left: -140px;
  }
  .transaction-header {
    display: flex;
  }
  /* статистика */

  .statistics_page_profitability {
    font-size: 30px;
  }
  .statistics_page_trap {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .content_wrapper {
    margin: 0 auto;
  }
  .footer_wrapper {
    margin: 0 auto;
  }
  .news-card-img {
    max-width: 380px;
  }
  .news-card-content {
    max-width: 400px;
  }
  .carusel-chart {
    max-width: 700px;
  }
}
