.form_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    zoom: 1 !important;
}

.form_horizontal {
    width: 31em;
    border-radius: 22px;
    padding: 3em;
    padding-top: 3.7em;
    background-color: #2b2b33;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}
.control_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    line-height: 1.2em;
}
.control_group:last-of-type {
    margin-top: 1.5em;
}
.control_group:nth-of-type(3) {
    margin-bottom: 1.5em;
}
.control_label {
    width: 13em;
    text-align: right;
}
.controls {
    align-self: flex-end;
}

.formTimeFormatInputs {
    display: flex;
    position: relative;
    left: -53px;
}
.inputTxt {
    padding: 0.4em;
    width: 20em;
}
.btn {
    display: inline-block;
    display: inline;
    padding: 6px 17px !important;
    margin-bottom: 0;
    margin-left: 0.3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle !important;
    cursor: pointer;
    background-color: #f5f5f5;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    transition: 0.1s;
}
.btn:hover {
    background-color: #6e6e6e !important;
    color: white;
    transition: 0.1s;
}
.btnClose {
    display: inline-block;
    display: inline;
    padding: 6px 17px;
    margin-bottom: 0;
    margin-left: 0.3em;
    font-size: 14px;
    line-height: 20px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s;
}
.btnClose:hover {
    transition: 0.1s;
    background-color: #6e6e6e !important;
    color: white;
}
.noStyle {
    border: none;
    font-size: inherit;
    padding: inherit;
    border: inherit;
    background: none;
}
.radioInput {
    padding: 0.2em 1em;
    /* border: 1px solid #bbbbbb; */
    border-radius: 4px;
    background-color: #f5f5f5;
    cursor: pointer;
    color: #333333;
    margin-left: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}
/* .radioInput:hover {
    background-color: #6e6e6e !important;
    color: white;
    transition: 0.1s;
} */
.radioInput:nth-of-type(2) {
    margin: 0 0 0 0;
}
